:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #bc405f;

  --small: 1rem;
  --medium: 2rem;
  --big: 3rem;

  --transition-speed: .45s;

  --border-width: .125rem;
}
