:root {
  --primary-color: #fff;
  --secondary-color: #666;
  --tertiary-color: #bc405f;

  --small: 1rem;
  --medium: 2rem;
  --big: 3rem;

  --transition-speed: .3s;

  --border-width: .125rem;

  --font-family: 'Work Sans', sans-serif;

}
